<!DOCTYPE html>
<html>
	<head>
		<title>Portafolio</title>
		<meta chartset='UTF-8'>
		<link rel="stylesheet" href="../static/css/estilos.css">
	</head>
	<body>
		<header id='yo'>
			<nav>
				<ul>
					<li>
						<a href="#yo">yo</a>
					</li>
					<li>
						<a href="#trabajo">Mi trabajo</a>
					</li>
					<li>
						<a href="#contacto">Contacto</a>
					</li>
				</ul>
			</nav>
			<figure>
				<img src="avatar.jpg" alt="@clemenshemmer" />
				<figcaption>
					<a href="https://twitter.com/clemenshemmer" target="_blank">@clemenshemmer</a>
				</figcaption>
				<p>Clemen Hemmerling</p>
			</figure>
		</header>
		<section id='trabajo'>
			<article>
				<figure>
					<img src="trabajo.jpg" alt="Mejorando.la">
				</figure>
			</article>
			<article>
				<figure>
					<img src="trabajo.jpg" alt="Mejorando.la">
				</figure>
			</article>
			<article>
				<figure>
					<img src="trabajo.jpg" alt="Mejorando.la">
				</figure>
			</article>
		</section>
		<footer id='contacto'>
			<h3>Contacto</h3>
			<p>Si quieres contratarme puedes escribirme en el seguiente formulario</p>
			<form>
				<input type="text" placeholder="Nombre">
				<input type="email" placeholder="Mail">
				<textarea placeholder="Motivo"></textarea>
				<button type="submit">Contactar</button>
			</form>
		</footer>
	</body>
</html>